<div>
    <h2>Welcome to the home page</h2>
    {{#each uniqueValues}}
        <span>{{this}}</span>
    {{/each}}
</div>

<div style="margin-top: 30px">
    <a href="/filestorage" data-test-id="filestorage">Go to Files storage</a>
</div>